body { padding-top: 50px; }
.dates{ width:40px; }

.extra-padding{
padding-top: 50px;
}

#profile-pic{ max-width: 450px;}
#quick-nav li{
	border-style: solid;
	border-width: 0px;
	border-left-width: 1px;
	border-right-width: 1px;
}
#class-img{
	width:250px;
	height:250px;
}



/******** Borders ***********/

#border1{border-style: solid;
border-width: 154px 106px 0px;
-moz-border-image: url(../img/background4.jpg) 157 106 0 round;
-webkit-border-image: url(../img/background4.jpg) 157 106 0 round;
-o-border-image: url(../img/background4.jpg) 157 106 0 round;
border-image: url(../img/background4.jpg) 157 106 0 round;}

#border2 { border-style: solid;
border-width: 100px 90px 0px 100px;
-moz-border-image: url(../img/background6.jpg) 142 125 0 143 round;
-webkit-border-image: url(../img/background6.jpg) 142 125 0 143 round;
-o-border-image: url(../img/background6.jpg) 142 125 0 143 round;
border-image: url(../img/background6.jpg) 142 125 0 143 round;}

#border3 {border-style: solid;
border-width: 151px 168px 0px 130px;
-moz-border-image: url(../img/background5.jpg) 151 168 0 130 round;
-webkit-border-image: url(../img/background5.jpg) 151 168 0 130 round;
-o-border-image: url(../img/background5.jpg) 151 168 0 130 round;
border-image: url(../img/background5.jpg) 151 168 0 130 round;}


/******** Customizing navbar colours ***********/

/* navbar */
.navbar-inverse {
    background: -webkit-linear-gradient(left, #FF6600, #FFF990); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #FF6600, #FFF990); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #FF6600, #FFF990); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #FF6600 , #FFF990); /* Standard syntax (must be last) */
}
/* title */
.navbar-inverse .navbar-brand {
    color: #FFF990;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: #66CCFF;
}
/* link */
.navbar-inverse .navbar-nav > li > a {
    color: #FFF990;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: #66CCFF;
}
.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #FFFF00;
    background-color: #66CCFF;
}
.navbar-inverse .navbar-nav > .open > a, 
.navbar-inverse .navbar-nav > .open > a:hover, 
.navbar-inverse .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
/* caret */
.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-inverse .navbar-nav > .dropdown > a:hover .caret,
.navbar-inverse .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-inverse .navbar-nav > .open > a .caret, 
.navbar-inverse .navbar-nav > .open > a:hover .caret, 
.navbar-inverse .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* mobile version */
.navbar-inverse .navbar-toggle {
    border-color: #DDD;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}